awscli==1.15.6
botocore==1.10.6
certifi==2018.4.16
chardet==3.0.4
colorama==0.3.7
docutils==0.14
idna==2.6
jmespath==0.9.3
pyasn1==0.4.2
python-dateutil==2.7.2
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
urllib3==1.22
